<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="player1" class="ru.kpfu.itis.players.PlayerBrowserImpl"/>
    <bean id="player2" class="ru.kpfu.itis.players.PlayerFileImpl"/>
    <bean id="speaker" class="ru.kpfu.itis.speaker.SpeakerAuxImpl"/>
    <bean id="audioPlayerService" class="ru.kpfu.itis.service.AudioPlayerServiceImpl">
        <constructor-arg ref="player2"/>
        <constructor-arg ref="speaker"/>
    </bean>

</beans>